# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.moc
*.rcc
*.swp
Makefile

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
chess
